h1{
	top: 20%;
	left: 50%;
}

nav {
  width : 300px; 
  margin : 0px auto; 
  animation: fadeIn 1s;
}

span {
  animation: fadeIn 1s;
  position:sticky;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

span::after {
	animation: fadeIn 1s;
  position: relative;
  float: right;
  right: 10%;
  content: "";
}

.slide2 {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  justify-content: center;
}

.boope2{
    text-align: left;
    position: relative;
    top: 30%;
}

#touch2 {position: absolute; opacity: 0; height: 0px;}    

#touch2:checked + .slide2 {height: 100%;} 

@keyframes fadeIn {
	0%{opacity: 0;}
	100% {opacity: 1;}
	}